body {
    background-color: #F6E5DC;
    font-family: Verdana;
}
.baner {
    background-color: #2F180C;
    text-align: center;
    color: khaki;
    height: 60px;
    padding: 5px 0 10px 0;
}
.lewy {
    float: left;
    width: 60%;
    display: block;
}
.prawy {
    float: left;
    width: 30%;
    font-size: 150%;
    padding: 70px;
}
.dolny {
    clear: both;
    background-color: #D0B6A8;
    text-align: center;
    padding: 30px;
}
.stopka {
    background-color: #2F180C;
    color: khaki;
    height: 60px;
    text-align: center;
    padding-top: 15px;
}
ol {
    width: 100%;
}
img {
    padding-top: 30px;
    padding-left: 50px;
    width: 80%;
    height: 325px;
}
input {
    margin: 10px;
}
.inputy:hover {
    color: white;
    background-color: darkcyan;
}
input[type="submit"], input[type="reset"] {
    margin: 10px;
    padding: 5px;
    background-color: #2F180C;
    color: khaki;
}

@media only screen and (min-width: 1023px) and (max-width:1439px) {
    .lewy {
        width: 50%;
    }
    .prawy {
        padding-top: 25px;
    }
    img {
        padding-top: 50px;
        height: 250px;
    }
}
@media only screen and (min-width: 767px) and (max-width:1023px) {
    h1 {
        font-size: 22px;
    }
    .lewy {
        width: 55%;
    }
    .prawy {
        width: 40%;
        padding: 0;
        padding-right: 10px;
    }
    img {
        height: 175px;
        padding-left: 40px;
        padding-top: 50px
    }
}
@media only screen and (min-width: 424px) and (max-width:767px) {
    .baner {
        height: 75px;
    }
    .lewy {
        width: 100%;
        float: none;
    }
    .prawy {
        float: none;
        width: 100%;
        padding: 0;
    }
    img {
        padding-left: 0;
        width: 100%;
    }
    h2 {
        font-size: 1.25em;
    }
}
